body {
  margin: 0px;
  margin-top: 80px;
  background-color: whitesmoke;

}

.toolbar {
  width: 100% !important;
  height: 50px !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #343434 !important;
}

.toolbar img {
  height: 50px;
}

.film-card {
  margin: 0px 400px 0px 400px;
}

.card-avatar {
  height: 60px !important;
  width: 60px !important;
}

.card-header {
  font-weight: bold !important;
}

.movie-image {
  background-size: cover;
  background-color: white;
  padding: 15px;
  margin-top: 5px;
  margin-right: 25px;
  width: 40%;
  height: 500px;
  background-position: center;
}

.movie-image img {
  width: 50%;
}

.movie-info {
  font-family: "Droid Sans Mono";
  width: 100%;
}

.movie-info h3 {
  color: dimgray;
}

.menu {
  width: 60%;
  height: 60%;
}

.user-card {
  margin: 15px;
  display: flex;
  flex-direction: row;
  height: 120px;
}

.user-name {
  font-family: "Droid Sans Mono";
  align-self: flex-start;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 100px;
}

.user-info {
  margin-top: 0;
}

.user-comment {
  font-size: 14px;
  margin-left: 95px;
}